
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.header {
  background-color: #db2955;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
}

.globe {
  width: 45px;
}

.container {
  margin: 45px 40px;
  display: flex;
  flex-direction: column; /* stack cards vertically */
  align-items: center; /* center horizontally */
  margin: 45px 0; /* top/bottom spacing */
}

.article-container {
  display: flex;
  background-color: #f7f7f2;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid black;
  max-width: 600px;
  transition: .2s;
}

.article-container:hover {
  transform: rotate(-1deg) scale(1.1);
  transition: .5s;

}

.image-container {
  width: 225px;
  height: 250px;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 10px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info-container {
  flex: 1;
  max-width: 50%;
}

a {
  color: #ff0000;
  text-decoration: none;
}

.dates {
  font-size: 12px;
  color: gray;
}

.entry-text {
  overflow: hidden;
  text-overflow: ellipsis; /* Adds an ellipsis (...) at the end */
  display: -webkit-box; /* Required for -webkit-line-clamp */
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical; /* Orients the box vertically */
  line-clamp: 3;
}

